<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Hello Coursera!!</title>
  </head>
  <body>
  <div class="container" ng-controller="Controller">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="count()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>
  </body>
</html>
